.user-name span{
    margin-right: 10px;
}

.feed-username {
    margin-right: 5px;
}

.send-message {
    margin-top: 16px;
}

.follow-user {
    margin-left: 10px;
}

.user-btn {
    padding: 15px;
}

.container {
    margin-top: 14px;
}

#feed {
    margin-top: 19px;
}

.feed-message {
    border: 1px solid rgba(0, 0, 0, 0.24);
    padding: 14px;
    margin-bottom: 16px;
}

.datetime {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.24);
    margin-bottom: 2px;
}